* {
    padding: 0;
    margin: 0;
}

/*menu1 ate a linha 98*/

#home{
    position: relative;
    box-sizing: border-box;
    background-color: #A5C5B0;
}

.menu1{
    box-sizing: border-box;
    background-color: #A5C5B0;
    width: 100%;
    height: 15vh; 
}

.menu1 ul {
    list-style: none;
    display: flex;
    padding-left: 145vh;
    padding-top: 5vh;
    
}

.menu1 a {
    text-decoration:none; 
    letter-spacing: 0.1rem; 
    font-size: 1.1rem;
    margin: 0.4rem;
    color: #557570;    
}

#logo-menu{
    width: 18vh;
    height: 15vh;
    float: left;
    padding-left: 1%;
    padding-bottom: 1.1vh;
    cursor: pointer;
}

.forms{
    margin-bottom: 2rem;
    display: flex;
    
}

.forms a:hover  { 
    color:#D39A89;    
}

.search-box{
    position: absolute;
    background: #f3fafe;
    height: 35px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    top: 13%;
    left: 29%;
    align-items: center;
}

.search-text{
    background: none;
    border: 0;
    outline: 0;
    font-size: 1rem;
    width: 0;
    padding: 0;  
    transition: 0.4s;
}

#lupa{
    width: 3%;
    height: 2%;
    color: #F7D1BA;
}

.search-btn{
    height: 5vh;
    padding-left: 15%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-box:hover  > .search-text{
    width: 73vh;
}

hr{
    margin: 0px 15px 0px 15px;
    position: relative;
    border-top: 0.2rem solid #000000;  
}

/*menu2 ate a linha 165*/

.menu2{
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    column-count: 2;
}

.menu2 > ul {
    margin: 0 auto 0.4rem;
  }

.menu2 li{
    padding-top: 0.9rem;
    padding: 0.7rem;
}

.menu2 ul{
    list-style: none;
    display: flex;
    justify-content: center;
    
}

.menu2 a{
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    color: #fff;   
}

.transition a::after {
    content: "";
    display: block;
    border-bottom: 3px solid #F1BEBE;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  
.menu2 a:hover::after {
    transform: scaleX(1);
}

.img-menu{
    padding: 1rem;
    padding-right: 4rem;
}

.img-menu img{
    height: 1.5rem;
    
}

.img-menu img:hover{
    height: 1.8rem;
    transition: 0.3s;
}

h1{
    padding-top: 2.3rem;
    text-align: center;
    letter-spacing: 0.1rem;
    margin: 0.4rem;
    font-size: 2.2rem;
    padding-bottom: 1.7em;
}

.livros{
   display: inline-block;
   padding-left: 1.9em;
   padding-right: 1.9em;
   margin-top: 4em;
   margin-bottom: 4em;
}

#livrop-esquerda{
    padding-left: 3em;
}

.livros img{
    box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    margin-bottom: 0.8rem;
    cursor: pointer;
    height:41vh;
    transition : 0.8s;
}

.livros img:hover{
    transition: 1s;
    height: 45vh;
}

.livros a{
    text-decoration:none; 
    list-style: none;
    color: #fff;
}

.livros a:hover{  
    color: #a5c5b0;
   
}

.livros p{
    text-align: center;
    font-size: .9rem;
    margin-bottom: 0;
}

#livroep-esquerda{
    padding-left: 3em;
}

#coração:hover{
    color: #F1BEBE;
}

#coração1:hover{
    color: #F1BEBE;
}

#coração2:hover{
    color: #F1BEBE;
}

#coração3:hover{
    color: #F1BEBE;
}

#coração4:hover{
    color: #F1BEBE;
}

#coração5:hover{
    color: #F1BEBE;
}

#coração6:hover{
    color: #F1BEBE;
}

#coração7:hover{
    color: #F1BEBE;
}

#coração8:hover{
    color: #F1BEBE;
}

#coração9:hover{
    color: #F1BEBE;
}


button{

font-family: Lato;
font-weight: 0;
font-size: 16px;
color: #fff;
background-color: #a5c5b0;
padding: 3px 28px;
border: solid #a5c5b0 2px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 25px;
transition : 758ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
margin-top: .9rem;
margin-left: 1.4rem;
}

button:hover{

transition : 758ms;
padding: 6px 49px;
transform : translateY(-0px);
background-color: #fff;
color: #a5c5b0;
border: solid 2px #a5c5b0;
}

a{
    color: #fff;
}
    
a:hover{
    color: #A5C5B0;
}
    

/*Footer1 ate a linha */

.footer1{
    box-sizing: border-box;
    background-color: #A5C5B0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.footer-list{
    text-align: center;
}

.footer-list li{
    display: inline;
}

.logo-footer{
    width: 18vh;
    padding-bottom: 1.1vh;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.footer1 ul {
    list-style: none;
    
}

.footer1 a {
    text-decoration:none;
    color: #000000;
    letter-spacing: 0.1rem; 
    font-size: 1.1rem;
    margin: 0.6rem;
}

.footer1 a:hover  { 
    color:#D39A89;    
}

.sociais{
    text-align: center;
    padding-bottom: 1rem;
}

.sociais img{
    height: 2rem;
    vertical-align: 0;
}

.sociais img:hover{
    height: 2.2rem;
    transition: 0.3s;
}

/*Footer2 ate a linha */

.footer2{
    box-sizing: border-box;
    display: flex;
    background-color: #557570;
    justify-content: center;
    padding-top: 0.7rem;
    letter-spacing: 0.1rem;
    color: #fff;
}

.footer2 i{
    padding-top: 0.3rem;
    padding-right: 1rem;
}

/*Setinha para cima ate a linha */

.voltar-topo {
    position: fixed;
    right: 1rem;
    bottom: 0.8rem;
    padding: 0.3rem;
    font-size: 2rem;
    line-height: 0;
    transition: 0.3s;
    color: #F1BEBE;
}

.voltar-topo i:hover  { 
    color:#D39A89;    
}