* {
    padding: 0;
    margin: 0;
}

#home{
    position: relative;
    box-sizing: border-box;
    background-color: #A5C5B0;
}


.menu1{
    box-sizing: border-box;
    background-color: #A5C5B0;
    width: 100%;
    height: 15vh; 
}

.menu1 ul {
    list-style: none;
    display: flex;
    padding-left: 145vh;
    padding-top: 5vh;
    
}

.menu1 a {
    text-decoration:none; 
    letter-spacing: 0.1rem; 
    font-size: 1.1rem;
    margin: 0.4rem;
    color: #557570;    
}

#logo-menu{
    width: 18vh;
    height: 15vh;
    float: left;
    padding-left: 1%;
    padding-bottom: 1.1vh;
    cursor: pointer;
}

.forms{
    margin-bottom: 2rem;
    display: flex;
    
}

#form-entrar{
    padding-right: 3rem;
}

.search-box{
    position: absolute;
    background: #f3fafe;
    height: 35px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    top: 13%;
    left: 29%;
    align-items: center;
}

.search-text{
    background: none;
    border: 0;
    outline: 0;
    font-size: 1rem;
    width: 0;
    padding: 0;  
    transition: 0.4s;
}

#lupa{
    width: 3%;
    height: 2%;
    color: black;
}

.search-btn{
    height: 5vh;
    padding-left: 15%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-box:hover  > .search-text{
    width: 73vh;
}

hr{
    margin: 0px 15px 0px 15px;
    position: relative;
    border-top: 0.2rem solid #000000;  
}

.menu2{
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    column-count: 2;
}

.menu2 > ul {
    margin: 0 auto 0.4rem;
  }

.menu2 li{
    padding-top: 0.9rem;
}

.menu2 ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu2 a{
    text-decoration: none;
    letter-spacing: 0.1rem;
    margin: 0.4rem;
    font-size: 1.1;
    color: #fff;
}
.img-menu{
    padding: 1rem;
    padding-right: 4rem;
}

.img-menu img{
    height: 1.5rem;
}

#carouselExampleIndicators{
    padding-top: 35px;
      box-shadow: rgb(0 0 0 / 16%) 0 0.1875rem 0.25rem 0;
}

.voltar-topo {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 0.3rem;
    font-size: 2rem;
    line-height: 0;
    transition: 0.3s;
    color: #F1BEBE;
}
